<script>
import CardMinDashboard from '@/components/CardMinDashboard.vue'
import Dashboard from '@/api/dashboard'
export default {
  components: {
    CardMinDashboard,
  },
  props: {
    hash: String,
    route: String,
    label: String,
  },

  data() {
    return {
      isShow: false,
      search: [],
      settings: {},
      dashboardRecipes: [],
    }
  },
  computed: {
    dashboardRoute() {
      return this.dashboardRoute
    },
  },
  watch: {
    //обработчик route здесь пока в качестве заглушек, потому что пока не реализована нормальная обработка settings и других страниц, а так же labels
    route() {
      if (this.route !== '' && this.route !== undefined && !this.isShow) {
        try {
          this.loadRecipe(this.route).then(() => {
            this.isShow = !this.isShow
          })
        } catch (error) {
          console.log('Route throws an error')
          console.error(error)
        }
      } else {
        this.isShow = !this.isShow
      }
    },
    hash() {
      if (this.hash !== '' && this.hash !== undefined && !this.isShow) {
        try {
          this.loadRecipe(this.hash).then(() => {
            this.isShow = !this.isShow
          })
        } catch (error) {
          console.log('Hash throws an error')
          console.error(error)
        }
      } else {
        this.isShow = !this.isShow
      }
    },
  },
  mounted() {
    try {
      if (this.hash !== '' && this.hash !== undefined && !this.isShow) {
        this.loadRecipe(this.hash).then(() => {
          this.isShow = !this.isShow
        })
      }
      if (this.route !== '' && this.route !== undefined && !this.isShow) {
        this.loadRecipe(this.route).then(() => {
          this.isShow = !this.isShow
        })
      }
      this.refreshDashboard()
    } catch (error) {
      console.log('Mounted dashboard view throws an error')
      console.error(error)
    }
  },
  methods: {
    async refreshDashboard() {
      try {
        const response = await Dashboard.loadDashboardRecipes()
        this.dashboardRecipes = [...response.data]
      } catch (error) {
        console.error(error)
      }
    },
    async loadRecipe(value) {
      try {
        const response = await Dashboard.loadRecipe(value)
        this.settings = null
        this.settings = response.data
      } catch (error) {
        console.error(error)
      }
    },
    async saveRecipe(value, payload) {
      try {
        const response = await Dashboard.saveRecipe(value, payload)
        console.log('Рецепт сохранен', response)
      } catch (error) {
        console.error(error)
      }
    },
    async showModal(value, payload) {
      try {
        if (!payload && this.label && !this.isShow) {
          this.$router.push(this.label + '/' + value)
        } else if (!payload && !this.label && !this.isShow) {
          this.$router.push('/post/' + value)
        }
        if (this.isShow && this.label) {
          //временно отключил запросы put так как сейчас это firebase
          // await this.saveRecipe(value, payload)
          this.$router.push('/label/' + this.label)
          await this.refreshDashboard()
        } else if (this.isShow && !this.label) {
          // await this.saveRecipe(value, payload)
          this.$router.push('/')
          await this.refreshDashboard()
        }
      } catch (error) {
        console.log('Show modal throws an error')
        console.error(error)
      }
    },
  },
}
</script>

<template>
  <div
    class="w-inherit columns-6xs gap-2 p-2 sm:columns-5xs md:columns-3xs md:gap-4 md:p-4"
  >
    <CardMinDashboard
      v-for="item in dashboardRecipes"
      :key="item.id"
      :recipe-preview="item"
      @click-card-mini="
        (n) => {
          showModal(n)
        }
      "
    />
    <Teleport to="body">
      <router-view
        :is-show="isShow"
        :settings-modal="settings"
        @isClose-modal="
          (n) => {
            showModal(n, settings)
          }
        "
      />
    </Teleport>
  </div>
</template>

<style scoped></style>
