<script>
import { signUp } from '@/api/auth'
import { Form, Field } from 'vee-validate'
import * as yup from 'yup'

export default {
  name: 'RegisterView',
  components: {
    Form,
    Field,
  },
  data() {
    const schema = yup.object({
      name: yup.string().required(),
      email: yup.string().required().email(),
      password: yup.string().min(5).required(),
      passwordConfirmation: yup
        .string()
        .required()
        .oneOf([yup.ref('password')], 'Passwords do not match'),
    })
    return {
      schema,
      name: '',
      email: '',
      password: '',
      errorServer: '',
      errorValues: {},
      submitted: false,
    }
  },
  methods: {
    async onSubmit(values) {
      this.submitted = true
      if (
        this.errorValues.email === values.email ||
        this.errorValues.password === values.password
      ) {
        this.errorServer = 'Такого пользователя нет, введите другие данные'
        return
      }
      try {
        const response = await signUp({
          email: values.email,
          password: values.password,
          name: values.name,
        })
        const expirationDate = new Date(Date.now() + 60 * 60 * 1000)
        console.log('Result is : ' + response.data.message)
        console.log('expires' + expirationDate)
        document.cookie = `access_token=${
          response.data.access_token
        }; expires=${expirationDate.toUTCString()} path=/`
        this.$router.push('/')
      } catch (error) {
        this.errorServer = error.response.data
        this.errorValues = values
        console.error(error)
      }
    },
  },
}
</script>

<template>
  <div
    class="m-auto w-full max-w-xs rounded-md bg-white p-6 shadow-md ring-2 ring-gray-800/50"
  >
    <h1 class="text-center text-3xl font-semibold text-gray-700">Coffeses</h1>
    <Form class="space-y-4" :validation-schema="schema" @submit="onSubmit">
      <div>
        <label class="label">
          <span class="label-text text-base">Введите имя</span>
        </label>
        <Field
          v-slot="{ field, meta, errorMessage }"
          name="name"
          type="name"
          :validate-on-blur="submitted"
          :validate-on-input="submitted"
          :validate-on-change="submitted"
        >
          <input
            v-bind="field"
            type="text"
            placeholder="Введите имя"
            class="input-bordered input w-full"
            :class="{ 'input-error': !meta.valid && submitted }"
          />
          <div v-if="errorMessage" class="alert alert-error mt-1 shadow-lg">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 flex-shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span v-if="errorMessage">{{ errorMessage }}</span>
            </div>
          </div>
        </Field>
      </div>
      <div>
        <label class="label">
          <span class="label-text text-base">Введите email</span>
        </label>
        <Field
          v-slot="{ field, meta, errorMessage }"
          name="email"
          type="email"
          :validate-on-blur="submitted"
          :validate-on-input="submitted"
          :validate-on-change="submitted"
        >
          <input
            v-bind="field"
            type="email"
            placeholder="Введите email"
            class="input-bordered input w-full"
            :class="{ 'input-error': !meta.valid && submitted }"
          />
          <div v-if="errorMessage" class="alert alert-error mt-1 shadow-lg">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 flex-shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span v-if="errorMessage">{{ errorMessage }}</span>
            </div>
          </div>
        </Field>
      </div>
      <div>
        <label class="label">
          <span class="label-text text-base">Введите пароль</span>
        </label>
        <Field
          id="password"
          v-slot="{ field, meta, errorMessage }"
          name="password"
          type="password"
          :validate-on-blur="submitted"
          :validate-on-change="submitted"
          :validate-on-input="submitted"
          class="input-bordered input w-full"
        >
          <input
            v-bind="field"
            type="password"
            class="input-bordered input w-full"
            placeholder="Введите пароль"
            :class="{ 'input-error': !meta.valid && submitted }"
          />
          <div v-if="errorMessage" class="alert alert-error mt-1 shadow-lg">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 flex-shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span v-if="errorMessage">{{ errorMessage }}</span>
            </div>
          </div>
        </Field>
      </div>
      <div>
        <label class="label">
          <span class="label-text text-base">Подтвердите пароль</span>
        </label>
        <Field
          id="passwordConfirmation"
          v-slot="{ field, meta, errorMessage }"
          name="passwordConfirmation"
          type="password"
          :validate-on-blur="submitted"
          :validate-on-change="submitted"
          :validate-on-input="submitted"
          class="input-bordered input w-full"
        >
          <input
            v-bind="field"
            type="password"
            class="input-bordered input w-full"
            placeholder="Введите пароль"
            :class="{ 'input-error': !meta.valid && submitted }"
          />
          <div v-if="errorMessage" class="alert alert-error mt-1 shadow-lg">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 flex-shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span v-if="errorMessage">{{ errorMessage }}</span>
            </div>
          </div>
        </Field>
      </div>
      <div>
        <button class="btn-accent btn-active btn-block btn focus:outline-none">
          Регистрация
        </button>
      </div>
      <span>
        <div class="divider">У вас уже есть учетная запись?</div>
        <router-link href="#" to="/signin">
          <a class="link-hover btn-link link-accent hover:text-green-800">
            Войти
          </a>
        </router-link>
      </span>
    </Form>
  </div>
</template>
