<script>
export default {
  props: {
    isShow: {
      type: Boolean,
      default: false,
    },
    recipePreview: {
      type: Object,
      required: true,
      default() {
        return { recipePreview: null }
      },
    },
  },
  data() {
    return {
      src: '',
      fallback: '',
      name: this.recipePreview.name,
      surname: this.recipePreview.surname,
      type: this.recipePreview.type,
      status: this.recipePreview.status,
      comment: this.recipePreview.comment,
      labels: this.recipePreview.labels,
      image: this.recipePreview.image,
    }
  },
  mounted() {
    this.srcImage()
    this.status = this.recipePreview.status ? 'Обновлен' : ''
  },
  methods: {
    srcImage() {
      this.src = this.image
      this.fallback = '/' + this.type + '.jpg'
    },
  },
}
</script>

<template>
  <div
    class="card mb-2 w-auto transform-gpu break-inside-avoid bg-base-100 shadow-xl active:scale-98 md:mb-4"
    @click="$emit('click-card-mini', recipePreview.hash)"
  >
    <figure>
      <img :src="src" alt="HarioV60" @error="$event.target.src = fallback" />
    </figure>
    <div class="card-body gap-1.5 p-4 px-3 md:gap-2 md:p-5">
      <h2 class="card-title flex-wrap md:flex-nowrap">
        <div
          v-if="status"
          class="badge badge-secondary flex h-inherit flex-initial"
        >
          {{ status }}
        </div>
        {{ name }}
      </h2>
      <h3
        class="card-title self-start pb-1 text-start font-medium text-gray-700"
      >
        {{ surname }}
      </h3>
      <p class="text-start">
        {{ comment }}
      </p>
      <div v-if="labels" class="card-actions justify-end">
        <div
          v-for="label in labels"
          :key="label.id"
          class="badge badge-outline"
        >
          {{ label }}
        </div>
      </div>
    </div>
  </div>
</template>
