<script>
export default {
  props: {
    isShow: Boolean,
    counter: {
      type: Number,
      required: true,
    },
    initialFocusNot: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
      required: true,
    },
  },
  emits: [
    'counterCardDicrement',
    'counterCardIncrement',
    'update-counter',
    'input-focus',
    'input-blur',
  ],
  data() {
    return {
      open: true,
      dirty: false,
    }
  },
}
</script>

<template>
  <div class="flex-column mt-2 flex flex-wrap justify-center">
    <h3 class="mt-3 w-full lg:mt-6">{{ name }}</h3>
    <div
      class="not-prose flex w-full items-center justify-between px-3 sm:px-4 md:px-6"
    >
      <button
        ref="dicrement"
        class="btn-square btn"
        :class="{ 'focus:outline-none': initialFocusNot }"
        @click="$emit('counterCardDicrement', $event.target)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          className="w-5 h-5"
        >
          <path
            fillRule="evenodd"
            d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
            clipRule="evenodd"
          />
        </svg>
      </button>
      <input
        type="number"
        step="0.1"
        class="bg-color input w-32 bg-transparent text-center text-4xl/4 font-bold [appearance:textfield] [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
        :value="counter"
        @input="$emit('update-counter', $event.target)"
        @focus="$emit('input-focus', $event.target)"
        @blur="$emit('input-blur', $event.target)"
      />

      <button
        class="btn-square btn"
        @click="$emit('counterCardIncrement', $event.target)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          className="w-5 h-5"
        >
          <path
            fillRule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clipRule="evenodd"
          />
        </svg>
      </button>
    </div>
  </div>
</template>
