<script>
import {
  Dialog,
  DialogPanel,
  DialogTitle,
  TransitionChild,
  TransitionRoot,
} from '@headlessui/vue'
import CardCounter from '@/components/CardCounter.vue'
export default {
  components: {
    Dialog,
    DialogPanel,
    DialogTitle,
    TransitionChild,
    TransitionRoot,
    CardCounter,
  },
  props: {
    isShow: {
      type: Boolean,
      default: false,
      required: true,
    },
    initialFocus: {
      type: Boolean,
      default: false,
    },
    settingsModal: {
      type: Object,
      required: true,
      default() {
        return { settingsModal: null }
      },
    },
  },
  data() {
    return {
      focusDisable: null,
      name: null,
      surname: null,
      temp: null,
      grind: null,
      coffee: null,
      water: null,
      time: null,
      ratio: null,
      comment: null,
    }
  },
  watch: {
    isShow() {
      this.focusDisable = this.isShow
    },
    settingsModal() {
      //prettier-ignore
      this.name = this.settingsModal.name,
      this.surname = this.settingsModal.surname,
      this.temp = this.settingsModal.temp,
      this.grind = this.settingsModal.grind,
      this.coffee = this.settingsModal.coffee,
      this.water = this.settingsModal.water,
      this.time = this.settingsModal.time,
      this.ratio = this.settingsModal.ratio,
      this.comment = this.settingsModal.comment
    },
  },
  methods: {
    waterCalc() {
      if (this.ratio) {
        this.coffee = (this.coffee * 100) / 100
        this.water = +(this.coffee * this.ratio).toFixed(1)
      }
    },
    coffeeCalc() {
      if (this.ratio) {
        this.water = (this.water * 100) / 100
        this.coffee = +(this.water / this.ratio).toFixed(1)
      }
    },
    increment(value, valueMax, a = 1) {
      if (value < valueMax) {
        value = ((value + a) * 100) / 100
      }
      return +value.toFixed(1)
    },
    dicrement(value, valueMin, a = 1) {
      const r = ((value - a) * 100) / 100
      if (value > valueMin && r >= 0) {
        value = r
      }
      return +value.toFixed(1)
    },
    conuterCheck(value, valueMin, valueMax) {
      if (valueMin <= value && value <= valueMax && value >= 0) {
        value = (value * 100) / 100
        return value
      } else {
        if (value < valueMin) {
          valueMin = (valueMin * 100) / 100
          return valueMin
        } else {
          valueMin = (valueMax * 100) / 100
          return valueMax
        }
      }
    },
    onSubmit() {
      //заглушка, если вдруг понадобится отправлять запрос на сохранение рецепта из этого компонента
      console.log('Saved')
    },
  },
}
</script>

<template>
  <TransitionRoot as="template" :show="isShow">
    <Dialog
      as="div"
      class="relative z-10"
      @close="$emit('isClose-modal', settingsModal.hash)"
    >
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        />
      </TransitionChild>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div
          class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0"
        >
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          >
            <DialogPanel
              class="relative w-full transform overflow-hidden rounded-lg bg-white text-center shadow-xl transition-all sm:my-8 sm:max-w-lg"
            >
              <form @submit.prevent="onSubmit()">
                <div
                  class="w-full bg-gradient-to-b from-white to-gray-100 px-4 pb-4 pt-2 text-center sm:p-3 sm:pb-4 md:pt-4 lg:pt-6"
                >
                  <div class="flex w-full justify-stretch">
                    <div
                      class="prose mt-3 w-full text-center sm:mt-0 sm:text-center"
                    >
                      <DialogTitle
                        as="input"
                        class="bg-color input w-full bg-transparent text-center text-2xl/3 font-bold [appearance:textfield] focus:outline-none [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
                        spellcheck="false"
                        :value="name"
                      />
                      <DialogTitle
                        as="input"
                        class="bg-color input w-full bg-transparent text-center text-xl/3 font-bold text-gray-700 [appearance:textfield] focus:outline-none [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
                        spellcheck="false"
                        :value="surname"
                        @focus="
                          () => {
                            focusDisable = false
                          }
                        "
                      />
                      <CardCounter
                        :counter="temp"
                        :name="'Температура'"
                        @input-blur="
                          (n) => {
                            n.value = temp
                          }
                        "
                        @update-counter="
                          (n) => {
                            if (!!/^[^-]*$/.test(n.value)) {
                              n.value = n.value.replace(/\-/g, '')
                            }
                            temp = conuterCheck(
                              n.value,
                              settingsModal.tempMin,
                              settingsModal.tempMax
                            )
                          }
                        "
                        @counterCardDicrement="
                          temp = dicrement(temp, settingsModal.tempMin)
                        "
                        @counterCardIncrement="
                          temp = increment(temp, settingsModal.tempMax)
                        "
                      />
                      <CardCounter
                        :counter="grind"
                        :name="'Помол'"
                        @input-blur="
                          (n) => {
                            n.value = grind
                          }
                        "
                        @update-counter="
                          (n) => {
                            if (!!/^[^-]*$/.test(n.value)) {
                              n.value = n.value.replace(/\-/g, '')
                            }
                            grind = conuterCheck(
                              n.value,
                              settingsModal.grindMin,
                              settingsModal.grindMax
                            )
                          }
                        "
                        @counterCardDicrement="
                          grind = dicrement(grind, settingsModal.grindMin)
                        "
                        @counterCardIncrement="
                          grind = increment(grind, settingsModal.grindMax)
                        "
                      />
                      <CardCounter
                        ref="coffeeInput"
                        :counter="coffee"
                        :name="'Вес кофе'"
                        @input-blur="
                          (n) => {
                            n.value = coffee
                          }
                        "
                        @update-counter="
                          (n) => {
                            if (!!/^[^-]*$/.test(n.value)) {
                              n.value = n.value.replace(/\-/g, '')
                            }
                            coffee = conuterCheck(
                              n.value,
                              settingsModal.coffeeMin,
                              9999
                            )
                            waterCalc()
                          }
                        "
                        @counterCardDicrement="
                          () => {
                            const r = coffee
                            coffee = dicrement(coffee, settingsModal.coffeeMin)
                            if (coffee < r) {
                              waterCalc()
                            }
                          }
                        "
                        @counterCardIncrement="
                          () => {
                            coffee = increment(coffee, 9999)
                            waterCalc()
                          }
                        "
                      />
                      <CardCounter
                        :counter="water"
                        :name="'Вес воды'"
                        @input-blur="
                          (n) => {
                            n.value = water
                          }
                        "
                        @update-counter="
                          (n) => {
                            if (!!/^[^-]*$/.test(n.value)) {
                              n.value = n.value.replace(/\-/g, '')
                            }
                            water = conuterCheck(
                              n.value,
                              settingsModal.waterMin,
                              9999
                            )
                            coffeeCalc()
                          }
                        "
                        @counterCardDicrement="
                          () => {
                            const r = water
                            water = dicrement(water, settingsModal.waterMin)
                            if (water < r) {
                              coffeeCalc()
                            }
                          }
                        "
                        @counterCardIncrement="
                          () => {
                            water = increment(water, 9999)
                            coffeeCalc()
                          }
                        "
                      />
                      <CardCounter
                        :counter="ratio"
                        :name="'Ratio'"
                        @input-blur="
                          (n) => {
                            n.value = ratio
                            waterCalc()
                          }
                        "
                        @update-counter="
                          (n) => {
                            ratio = conuterCheck(
                              n.value,
                              settingsModal.ratioMin,
                              settingsModal.ratioMax
                            )
                          }
                        "
                        @counterCardDicrement="
                          () => {
                            ratio = dicrement(
                              ratio,
                              settingsModal.ratioMin,
                              settingsModal.ratioAmount
                            )
                            waterCalc()
                          }
                        "
                        @counterCardIncrement="
                          () => {
                            ratio = increment(
                              ratio,
                              settingsModal.ratioMax,
                              settingsModal.ratioAmount
                            )
                            waterCalc()
                          }
                        "
                      />
                      <h3 class="mt-3 w-full lg:mt-6">Время</h3>
                      <input
                        type="text"
                        class="bg-color input w-full bg-transparent text-center text-4xl/4 font-bold [appearance:textfield] focus:outline-none [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
                        :value="time"
                        spellcheck="false"
                      />
                      <textarea
                        v-model="comment"
                        class="textarea mt-6 h-40 w-full text-base"
                        placeholder="Комментарий"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="bg-gray-100 px-4 py-3 pb-5 sm:flex sm:flex-row-reverse sm:px-6"
                >
                  <button
                    ref="completeButtonRef"
                    type="submit"
                    class="rounded-mdpx-3 btn mt-3 inline-flex w-full justify-center py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:mt-0 sm:w-auto"
                    @click="$emit('isClose-modal', settingsModal.hash)"
                  >
                    Сохранить
                  </button>
                </div>
              </form>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>
