<script>
export default {
  props: {
    list: {
      type: Array,
    },
  },
  methods: {
    routeTo(value) {
      this.$router.push('/label/' + value)
    },
  },
}
</script>

<template>
  <div>
    <div class="drawer lg:drawer-open">
      <input id="main-sidebar" type="checkbox" class="drawer-toggle" />
      <div
        class="drawer-content flex w-inherit flex-col items-center justify-start overflow-auto"
      >
        <slot></slot>
      </div>
      <div class="drawer-side">
        <label for="main-sidebar" class="drawer-overlay"></label>
        <ul class="menu h-full w-60 bg-base-100 text-base-content">
          <li><router-link to="/label/favorite">Избранное</router-link></li>
          <li v-for="item in list" :key="item.id" @click="routeTo(item)">
            <a>{{ item }}</a>
          </li>
          <li><router-link to="/label/archive">Архив</router-link></li>
          <li><router-link to="/label/trash">Корзина</router-link></li>
        </ul>
      </div>
    </div>
  </div>
</template>
