<script>
import { logOut } from '@/api/auth'
export default {
  data: () => ({}),
  methods: {
    toggleMenu() {},
    routerCall(value) {
      this.$router.push('/user/' + value)
    },
    async userQuit() {
      try {
        const response = await logOut()
        console.log('logout: ' + response.data.User)
        console.log(response.data)
        this.$router.push('/')
      } catch (error) {
        console.error(error)
      }
    },
  },
}
</script>

<template>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <label tabindex="0" for="main-sidebar" class="btn-ghost btn lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>
      <router-link to="/" class="btn-ghost btn text-xl normal-case">
        Coffeses
      </router-link>
    </div>
    <div class="md:w-90 navbar-center hidden flex-1 sm:flex">
      <!-- поиск пока отключен, нужна Pinia чтобы он заработал как надо 
        <input
        type="text"
        placeholder="Поиск"
        class="md:w-90 input-bordered input input-sm w-auto lg:input-md sm:flex"
      /> -->
    </div>
    <div class="navbar-end">
      <!-- надо на эту кнопку забиндить появление среднего компонента с поиском и сокрытие первого компонента с меню, а ещё она отключена, потому, что отключен searchbar-->
      <!-- <label class="swap-rotate swap btn-ghost btn-circle btn sm:hidden">
        <input type="checkbox" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="black"
          viewBox="0 0 24 24"
          strokeWidth="{2}"
          stroke="currentColor"
          class="swap-on h-5 w-5"
        >
          <path
            fillRule="evenodd"
            d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
            clipRule="evenodd"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="swap-off h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </label> -->
      <div ref="dropdown" class="dropdown-end dropdown">
        <label tabindex="0" class="btn-ghost btn-circle avatar btn">
          <div class="w-10 rounded-full">
            <img src="/vite.svg" />
          </div>
        </label>
        <ul
          tabindex="0"
          class="dropdown-content menu rounded-box menu-sm z-[1] mt-3 w-52 bg-base-100 p-2 shadow drop-shadow-xl"
        >
          <li @click="routerCall('profile')">
            <a>Профиль</a>
          </li>
          <li @click="routerCall('settings')"><a>Настройки</a></li>
          <li @click="userQuit()"><a>Выход</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
