<script>
import {
  Dialog,
  DialogPanel,
  DialogTitle,
  TransitionChild,
  TransitionRoot,
} from '@headlessui/vue'
// import CardCounter from '@/components/CardCounter.vue'
export default {
  components: {
    Dialog,
    DialogPanel,
    DialogTitle,
    TransitionChild,
    TransitionRoot,
    // CardCounter,
  },
  props: {
    isShow: {
      type: Boolean,
      default: false,
      required: true,
    },
    initialFocus: {
      type: Boolean,
      default: false,
    },
    settingsModal: {
      type: Object,
      required: true,
      default() {
        return { settingsModal: null }
      },
    },
  },
  data() {
    return {
      focusDisable: null,
    }
  },
  watch: {
    isShow() {
      this.focusDisable = this.isShow
    },
  },
  methods: {
    onSubmit() {
      //заглушка, если вдруг понадобится отправлять запрос на сохранение рецепта из этого компонента
      console.log('Settings saved')
    },
  },
}
</script>

<template>
  <TransitionRoot as="template" :show="isShow">
    <Dialog
      as="div"
      class="relative z-10"
      @close="$emit('isClose-modal', settingsModal)"
    >
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        />
      </TransitionChild>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div
          class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0"
        >
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          >
            <DialogPanel
              class="relative w-full transform overflow-hidden rounded-lg bg-white text-center shadow-xl transition-all sm:my-8 sm:max-w-lg"
            >
              <form @submit.prevent="onSubmit()">
                <div
                  class="w-full bg-gradient-to-b from-white to-gray-100 px-4 pb-4 pt-2 text-center sm:p-3 sm:pb-4 md:pt-4 lg:pt-6"
                >
                  <div class="flex w-full justify-stretch">
                    <div
                      class="prose mt-3 w-full text-center sm:mt-0 sm:text-center"
                    >
                      <DialogTitle
                        as="input"
                        class="bg-color input w-full bg-transparent text-center text-2xl/3 font-bold [appearance:textfield] focus:outline-none [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
                        spellcheck="false"
                        :value="'User Settings'"
                      />
                      <p>Now settingsModal is unavalible</p>
                    </div>
                  </div>
                </div>
                <div
                  class="bg-gray-100 px-4 py-3 pb-5 sm:flex sm:flex-row-reverse sm:px-6"
                >
                  <button
                    ref="completeButtonRef"
                    type="submit"
                    class="rounded-mdpx-3 btn mt-3 inline-flex w-full justify-center py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:mt-0 sm:w-auto"
                    @click="$emit('isClose-modal', 1)"
                  >
                    Сохранить
                  </button>
                </div>
              </form>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>
