<script>
import AuthLayout from '@/layouts/AuthLayout.vue'
import MainLayout from '@/layouts/MainLayout.vue'
import PublicLayout from '@/layouts/EmptyLayout.vue'
export default {
  components: {
    AuthLayout,
    MainLayout,
    PublicLayout,
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || 'main') + '-layout'
    },
  },
  methods: {},
}
</script>

<template>
  <component :is="layout">
    <router-view />
  </component>
</template>

<style scoped></style>
