<script>
import NavbarMainLayout from '@/components/NavbarMainLayout.vue'
import DrawerLayoutMenu from '@/components/DrawerLayoutMenu.vue'
import Main from '@/api/main'
export default {
  components: { NavbarMainLayout, DrawerLayoutMenu },
  data() {
    return {
      list: [],
    }
  },
  mounted() {
    this.loadlist()
  },
  methods: {
    async loadlist() {
      try {
        const response = await Main.loadListMain()
        this.list = null
        this.list = [...response.data]
      } catch (error) {
        console.error(error)
      }
    },
  },
}
</script>

<template>
  <div>
    <NavbarMainLayout />
    <DrawerLayoutMenu :list="list">
      <router-view />
    </DrawerLayoutMenu>
  </div>
</template>
